:root {
  /* TODO: Convert into JS constants for IE support */
  --primary: hsl(44, 36%, 52%);
  --primary-light: hsl(42, 94%, 80%);
  --primary-dark: hsl(43, 58%, 20%);
  --primary-accent: hsl(28, 39%, 51%);
  --secondary: hsl(220, 56%, 22%);
  --secondary-light: hsl(210, 35%, 47%);
  --secondary-dark: hsl(219, 86%, 9%);
  --secondary-accent: hsl(265, 29%, 29%);

  --color-grey-10: hsl(264, 100%, 99%);
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-500: hsl(265, 3%, 53%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);
  --color-grey-950: hsl(300, 6%, 6%);
  --color-grey-990: hsl(300, 8%, 3%);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-grey-10);
  color: var(--color-grey-900);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2em;
  margin-bottom: 1.875rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

p,
a,
span {
  line-height: 27px;
}

button {
  font: inherit;
  cursor: pointer;
}
